@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=Georama:wght@400;700&display=swap');

:root{
  --text: #000000;
  --background: #fbfdff;
  --background-hover: #ccd3da;
  --primary: #ac49bd;
  --primary-hover: #863595;
  --secondary: #0f7aa8;
  --secondary-hover: #006894;
  --tertiary: #10b274;
  --tertiary-hover: #0d8c5b;
  --accent: #0B4F6C;
  --accent-hover: #003f5a;
  --fourth-color: rgb(201, 136, 15);
  --fourth-color-hover: rgb(161, 106, 15);

  --body-font:16px;
  --h1-font: 4.210rem;
  --h2-font: 3.158rem;
  --h3-font: 2.369rem;
  --h4-font: 1.777rem;
  --h5-font: 1.333rem;

  --small-font: 0.750rem;

  --nav-font: var(--h5-font);
  --button-font: var(--h5-font);

  --body-font-type: 'Georama';
  --head-font-type: 'Gabarito';

  --size-square: 50px; /* Example size of the square */
  --color: #ff3d00; /* Example color of the square */
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 14px var(--body-font-type);
  display: flex;
  flex-direction: column;
  height: auto;
  background: var(--background);
}

.loader {
  --color: var(--secondary);
  --size-mid: 6vmin;
  --size-dot: 1.5vmin;
  --size-bar: 0.4vmin;
  --size-square: 3vmin;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: none;
  visibility: hidden;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.loader.visible {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
}

.loader.--6::before {
  width: 25px;
  height: 25px;
  background-color: var(--color);
  top: calc(50% - 12.5px);
  left: calc(50% - 12.5px);
  transform: translate(-50%, -50%); /* This centers the loader */
  animation: loader-6 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}


@keyframes loader-6 {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  
  25% {
    transform: translate(calc(-50% + 25px), -50%);
  }
  
  50% {
    transform: translate(calc(-50% + 25px), calc(-50% + 25px));
  }
  
  75% {
    transform: translate(-50%, calc(-50% + 25px));
  }
}

a {
  color: rgba(0, 52, 80, 0.443);
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

.hero {
  background: var(--body-gradient);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: var(--h2-font);
  font-family: var(--head-font-type);
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 64px;
  height: fit-content;
  box-shadow: 6px 10px 8px #888888;
  border: #02537e 1px solid;
  border-radius: 8px;
  width: 80%;
  background-color: transparent;
}

.hero > h2{
  text-shadow: 2px 2px 4px #888888;
}

.fixed-width{
  width: 100%;
  max-width: 60%;
}

.width-70{
  width: 70%;
}

.border-thick{
  border: var(--accent) 2px solid;
}

nav-bar{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}

@media screen and (max-width: 400px){
  :root{
    --h2-font: 1.777em;
  }
}

button{
  cursor: pointer;
}