@font-face {
  font-family: 'gabarito';
  src: url('./assets/fonts/gabarito-variablefont_wght-webfont.woff2') format('woff2'),
       url('./assets/fonts/gabarito-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root{
  --text: #12191c;
  --light-text: rgb(62, 62, 62);
  --background: #ffffff;
  --primary: #8eaab8;
  --secondary: rgb(195, 210, 218);
  --accent: rgb(2, 83, 126);
  --hover: rgba(0, 52, 80);

  --base-font:16px;
  --h1-font: 32px;
  --h2-font: 28px;
  --h3-font: 24px;
  --h4-font: 20px;
  --h5-font: 18px;

  --nav-font: 20px;
  --button-font: 20px;

  --font-style: 'gabarito';

}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 14px var(--font-style);
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: rgba(0, 52, 80, 0.443);
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

.hero {
  background: var(--primary);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  text-align: center;
  font-size: var(--h1-font);
}

.content-wrapper{
  margin: auto;
  margin-top: 64px;
  margin-bottom: 64px;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 8px 8px 8px var(--hover);
  border: #02537e 1px solid;
  border-radius: 8px;
  width: 80%;
}

faq-question:not(:last-child) {
  border-bottom: 2px solid var(--primary);
}

.fixed-width{
  width: 100%;
  max-width: 60%;
}